In [1]:
print('Hello world')

Hello world

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_review = pd.read_csv("yelp_review_arizona.csv")
df_review

,review_id,user_id,business_id,text,stars,date
0,V93SYj2OLh5m9Cquzf-7kg,ZwVz20be-hOZnyAbevyMyQ,2c9Vptks_vowLgVUMnCgjw,Came here while in town for a country concert....,4.0,2013-09-04 01:29:46
1,vNTFadc6T9HeH3Qa78dc_Q,91TB-gzcNyxFh46TL0pmnQ,6nKR80xEGHYf2UxAe_Cu_g,Best barbecue this side of the Mississippi!!!!...,5.0,2015-12-05 02:50:10
2,SXRFBCt5eXCBF7TlI7UG6Q,Y_QBiZpATJoz8hKUfYF66A,fbQaKW0Lte0JQ_opbnjdKg,Absolutely amazing. Think Chipotle for enchila...,5.0,2014-04-01 01:56:00
3,CqMNjtG0hNZGhDw4RDE-zw,_Jg-IA0M-GSjBlGu-wmejg,r8764MtYyt8JhxMvrfM_xQ,I was really disappointed with my most recent ...,2.0,2014-10-11 03:53:53
4,5hZLouGEW4wm6BTJ5aNUNw,1CqkFliipv_X15WYn5aPfg,QS3QxI7u5PRdtbGgI0-UsA,I grade sushi restaurants on 3 factors:\n- Qua...,4.0,2015-03-04 19:36:21
...,...,...,...,...,...,...
26601,AnzRxb0iE5OtDj7cMitFeg,iDlkZO2iILS8Jwfdy7DP9A,8nNB_yG1gzVpbqNH2EBucg,Met a friend here for lunch. It was not as pa...,3.0,2011-06-27 21:42:09
26602,GHK2LvwhLTQLb2-LY7H48w,5monCcK5b_sRvUpOk0H1Sw,R-sEoZXf37pGzLnid7s6wA,Love this place! One of the best local Mexican...,5.0,2016-06-11 16:43:59
26603,qwLk-DtBdqtzIt_-67L2yQ,llXWc7py2mDQwZrNrogSDg,SurnOSM2bVVN4-Js3G23RQ,I like the unique atmosphere of this place. bu...,4.0,2011-09-20 00:13:50
26604,gxe6kdSqgcvC8Fo4o7GWiA,mRaaWyAFSwYGOT40T1-T9Q,ms7cmWkPiSBDTnz-1sv2kQ,"Oh Ticoz, I have been through a lot with you. ...",2.0,2012-02-29 15:14:40
26605,jPCXuSBbI_cPocgoNBhdkg,V6BjjQICDO4q7TT3ZhaPWw,yA6dKNm_zl1ucZCnwW8ZCg,I think this owner and the owner of Amy's Baki...,1.0,2013-05-22 15:32:08

In [4]:
df_business = pd.read_csv("yelp_business.csv")
df_business

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,1SWheh84yJXfytovILXOAQ,Arizona Biltmore Golf Club,2818 E Camino Acequia Drive,Phoenix,AZ,85016,33.522143,-112.018481,3.0,5,0,{'GoodForKids': 'False'},"Golf, Active Life",NaN
1,QXAEGFB4oINsVuTFxEYKFQ,Emerald Chinese Restaurant,30 Eglinton Avenue W,Mississauga,ON,L5R 3E7,43.605499,-79.652289,2.5,128,1,"{'RestaurantsReservations': 'True', 'GoodForMe...","Specialty Food, Restaurants, Dim Sum, Imported...","{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W..."
2,gnKjwL_1w79qoiV3IC_xQQ,Musashi Japanese Restaurant,"10110 Johnston Rd, Ste 15",Charlotte,NC,28210,35.092564,-80.859132,4.0,170,1,"{'GoodForKids': 'True', 'NoiseLevel': ""u'avera...","Sushi Bars, Restaurants, Japanese","{'Monday': '17:30-21:30', 'Wednesday': '17:30-..."
3,xvX2CttrVhyG2z1dFg_0xw,Farmers Insurance - Paul Lorenz,"15655 W Roosevelt St, Ste 237",Goodyear,AZ,85338,33.455613,-112.395596,5.0,3,1,NaN,"Insurance, Financial Services","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ..."
4,HhyxOkGAM07SRYtlQ4wMFQ,Queen City Plumbing,"4209 Stuart Andrew Blvd, Ste F",Charlotte,NC,28217,35.190012,-80.887223,4.0,4,1,"{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...","Plumbing, Shopping, Local Services, Home Servi...","{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192604,nqb4kWcOwp8bFxzfvaDpZQ,Sanderson Plumbing,NaN,North Las Vegas,NV,89032,36.213732,-115.177059,5.0,9,1,{'BusinessAcceptsCreditCards': 'True'},"Water Purification Services, Water Heater Inst...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
192605,vY2nLU5K20Pee-FdG0br1g,Chapters,17440 Yonge Street,Newmarket,ON,L3Y 6Y9,44.052658,-79.481850,4.5,3,1,"{'RestaurantsPriceRange2': '2', 'BikeParking':...","Books, Mags, Music & Video, Shopping",NaN
192606,MiEyUDKTjeci5TMfxVZPpg,Phoenix Pavers,21230 N 22nd St,Phoenix,AZ,85024,33.679992,-112.035569,4.5,14,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Contractors, Landscaping, Mason...","{'Monday': '7:0-15:0', 'Tuesday': '7:0-15:0', ..."
192607,zNMupayB2jEHVDOji8sxoQ,Beasley's Barber Shop,4406 E Main St,Mesa,AZ,85205,33.416137,-111.735743,4.5,15,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Beauty & Spas, Barbers","{'Tuesday': '8:30-17:30', 'Wednesday': '8:30-1..."
192608,c1f_VAX1KIK8-JoVhjbYOw,Oriental Relax,3735 S Las Vegas Blvd,Las Vegas,NV,89109,36.107267,-115.171920,4.0,3,0,"{'BikeParking': 'False', 'RestaurantsPriceRang...","Massage, Beauty & Spas","{'Monday': '10:0-0:0', 'Tuesday': '10:0-0:0', ..."

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df_review.isnull().sum()

review_id      0
user_id        0
business_id    0
text           0
stars          0
date           0
dtype: int64

In [7]:
#Feature selection

In [8]:
data = df_review[["business_id", "user_id", "stars", "text"]]

In [9]:
import string
from nltk.corpus import stopwords
from nltk.tokenize import WordPunctTokenizer

stop = []
for word in stopwords.words("english"):
    s = [i for i in word if i not in string.punctuation]
    stop.append(''.join(s))

In [10]:
def text_process(mess):
    nopunc = [i for i in mess if i not in string.punctuation]
    nopunc = ''.join(nopunc)
    
    return " ".join([i for i in nopunc.split() if word.lower() not in stop])

In [11]:
# Text Cleaning

In [12]:
data["text"] = data["text"].apply(text_process)

<ipython-input-12-11b7f9d3d67e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["text"] = data["text"].apply(text_process)

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

In [14]:
user = data[['user_id', 'text']]
business = data[['business_id', 'text']]

In [15]:
user.head(5)

                  user_id                                               text
0  ZwVz20be-hOZnyAbevyMyQ  Came here while in town for a country concert ...
1  91TB-gzcNyxFh46TL0pmnQ  Best barbecue this side of the Mississippi Com...
2  Y_QBiZpATJoz8hKUfYF66A  Absolutely amazing Think Chipotle for enchilad...
3  _Jg-IA0M-GSjBlGu-wmejg  I was really disappointed with my most recent ...
4  1CqkFliipv_X15WYn5aPfg  I grade sushi restaurants on 3 factors Quality...

In [16]:
user[user['user_id']=='91TB-gzcNyxFh46TL0pmnQ']['text']

1        Best barbecue this side of the Mississippi Com...
3749     Great pizza and great service make the mellow ...
4723     Love this place There is a nation chain sub sh...
8576     I used to be a fan until tonight I walk up to ...
21921    This was my first time visiting SanTan Brewing...
25546    Went here for lunch yesterday for the first ti...
Name: text, dtype: object

In [17]:
business.head(5)

              business_id                                               text
0  2c9Vptks_vowLgVUMnCgjw  Came here while in town for a country concert ...
1  6nKR80xEGHYf2UxAe_Cu_g  Best barbecue this side of the Mississippi Com...
2  fbQaKW0Lte0JQ_opbnjdKg  Absolutely amazing Think Chipotle for enchilad...
3  r8764MtYyt8JhxMvrfM_xQ  I was really disappointed with my most recent ...
4  QS3QxI7u5PRdtbGgI0-UsA  I grade sushi restaurants on 3 factors Quality...

In [18]:
business[business['business_id']=='2c9Vptks_vowLgVUMnCgjw']['text']

0       Came here while in town for a country concert ...
404     First time here and let me tell you I was plea...
735     Really cool bar fun place to hangout for Huske...
1418    I got the whiskey burger with grilled broccoli...
1532    I dont think Im a fan of this bar The food is ...
1874        It just needs more country music to be played
2057    The bar is nice as a bar but thats all this is...
2123    Never heard of the guy who owns the place but ...
2136    Oh man I love this bar They have Mason jars Co...
2168    Whelp there goes that 4star review If I had th...
2229    Update No fault my friend went home on his own...
2308    Came here on a Thurs night with friends for Ha...
Name: text, dtype: object

In [19]:
user = user.groupby('user_id').agg({'text': ' '.join})
business = business.groupby('business_id').agg({'text': ' '.join})

In [20]:
# User Tfidf Vectorizer with 5000 Features

In [21]:
user_vectorizer = TfidfVectorizer(tokenizer = WordPunctTokenizer().tokenize, max_features=5000)
userid_vectors = user_vectorizer.fit_transform(user['text'])
userid_vectors.shape

(10937, 5000)

In [22]:
business_vectorizer = TfidfVectorizer(tokenizer = WordPunctTokenizer().tokenize, max_features=5000)
businessid_vectors = business_vectorizer.fit_transform(business['text'])
businessid_vectors.shape

(1411, 5000)

In [23]:
#Matrix Factorization

In [24]:
user_matrix = pd.pivot_table(data, values='stars', index=['user_id'], columns=['business_id'])
user_matrix.shape

(10937, 1411)

In [25]:
user_matrix.head()

business_id,-050d_XIor1NpCuWkbIVaQ,-1UMR00eXtwaeh59pEiDjA,-4TMQnQJW1yd6NqGRDvAeA,-6h3K1hj0d4DRcZNUtHDuw,-8QlV3b_9H4BAh6LgMIr1g,-9eNGMp8XiygI8t8QFuFWw,-9nai28tnoylwViuJVrYEQ,-Bdw-5H5C4AYSMGnAvmnzw,-BxWyEIQ6wypT-37MzZizQ,-CfFjcCcGGDM9MVH_d42RQ,...,z_lDO8d8nkSmcvTjB4N69A,za9qr9ZZWLTfEgTfogRbUw,zbrFk-4ejesAJD8EwcdHxg,zfiSQ1dl3vTJ-og96eqXGA,zidkKI_N1OPxsiddTOQH_Q,zqNgwQjj0_XAll-neGikIw,zr93wrNyXzc-HW4IcK4iRQ,zrDi4gEaUi64lAMfJU51dw,zrTGcb83AsfyVTMrsCa65A,zuVvDYJkKAbXQTTBauAqJQ
user_id,,,,,,,,,,,,,,,,,,,,,
--2HUmLkcNHZp0xw6AMBPg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
--4rAAfZnEIAKJE80aIiYg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
--Nnm_506G_p8MxAOQna5w,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
--ty7Z9fEt08E3dS3_qoSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-0IiMAZI2SsQ7VmyzJjokQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
P = pd.DataFrame(userid_vectors.toarray(), index=user.index, columns=user_vectorizer.get_feature_names())

In [27]:
Q = pd.DataFrame(businessid_vectors.toarray(), index=business.index, columns=business_vectorizer.get_feature_names())

In [28]:
P.head()

,0,1,10,100,1000,101,1015,1030,10pm,11,...,yup,z,zero,zinburger,zinc,zipps,ziti,zookz,ztejas,zucchini
user_id,,,,,,,,,,,,,,,,,,,,,
--2HUmLkcNHZp0xw6AMBPg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
--4rAAfZnEIAKJE80aIiYg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
--Nnm_506G_p8MxAOQna5w,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
--ty7Z9fEt08E3dS3_qoSA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-0IiMAZI2SsQ7VmyzJjokQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
Q.head()

,0,1,10,100,1000,101,1015,1030,10pm,11,...,yup,z,zero,zinburger,zinc,zipps,ziti,zookz,ztejas,zucchini
business_id,,,,,,,,,,,,,,,,,,,,,
-050d_XIor1NpCuWkbIVaQ,0.0,0.004237,0.003899,0.009644,0.0,0.0,0.0,0.005637,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-1UMR00eXtwaeh59pEiDjA,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-4TMQnQJW1yd6NqGRDvAeA,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-6h3K1hj0d4DRcZNUtHDuw,0.0,0.014012,0.012895,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-8QlV3b_9H4BAh6LgMIr1g,0.0,0.000000,0.011278,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
# Gradient Decent Optimization

In [31]:
def matrix_factorization(R, P, Q, steps=25, gamma=0.001,lamda=0.02):
    for step in range(steps):
        for i in R.index:
            for j in R.columns:
                if R.loc[i,j]>0:
                    eij=R.loc[i,j]-np.dot(P.loc[i],Q.loc[j])
                    P.loc[i]=P.loc[i]+gamma*(eij*Q.loc[j]-lamda*P.loc[i])
                    Q.loc[j]=Q.loc[j]+gamma*(eij*P.loc[i]-lamda*Q.loc[j])
        e=0
        for i in R.index:
            for j in R.columns:
                if R.loc[i,j]>0:
                    e= e + pow(R.loc[i,j]-np.dot(P.loc[i],Q.loc[j]),2)+lamda*(pow(np.linalg.norm(P.loc[i]),2)+pow(np.linalg.norm(Q.loc[j]),2))
        if e<0.001:
            break
        
    return P,Q

In [32]:
P ,Q = matrix_factorization(user_matrix, P, Q, steps=25, gamma=0.001, lamda=0.02)

In [44]:
words = "beautiful views at morning bunch"
test_df= pd.DataFrame([words], columns=['text'])
test_df['text'] = test_df['text'].apply(text_process)
test_vectors = user_vectorizer.transform(test_df['text'])
test_v_df = pd.DataFrame(test_vectors.toarray(), index=test_df.index, columns=user_vectorizer.get_feature_names())

In [45]:
predictItemRating=pd.DataFrame(np.dot(test_v_df.loc[0],Q.T),index=Q.index,columns=['Rating'])
topRecommendations=pd.DataFrame.sort_values(predictItemRating,['Rating'],ascending=[0])[:7]

In [46]:
for i in topRecommendations.index:
    print(df_business[df_business['business_id']==i]['name'].iloc[0])
    print(df_business[df_business['business_id']==i]['categories'].iloc[0])
    print(str(df_business[df_business['business_id']==i]['stars'].iloc[0])+ ' '+str(df_business[df_business['business_id']==i]['review_count'].iloc[0]))
    print('')

Matt's Big Breakfast
Restaurants, Breakfast & Brunch
4.0 703

Matt's Big Breakfast
Nightlife, Sandwiches, Bars, Cocktail Bars, Restaurants, Food, Breakfast & Brunch
3.5 412

The House Brasserie
French, American (New), American (Traditional), Food, Burgers, Sandwiches, Coffee & Tea, Nightlife, Bars, Restaurants, Brasseries
4.0 388

Brio Tuscan Grille
Venues & Event Spaces, Nightlife, Pizza, Event Planning & Services, Cocktail Bars, Italian, Seafood, Bars, Breakfast & Brunch, Wine Bars, Restaurants
3.5 521

Nandini Indian Cuisine
Restaurants, Buffets, Vegan, Indian
4.0 480

The Melting Pot-Phoenix
Cafes, Restaurants, Fondue, American (New), American (Traditional)
4.0 316

Tapas Papa Frita
Spanish, Tapas Bars, Nightlife, Bars, Tapas/Small Plates, Restaurants
3.5 491